<div class="container-fluid">

    <div class="row">

        <div class="contenedor_izquierdo">
            <app-sidebar></app-sidebar>
        </div>

        <div class="contenedor_derecho"  style="padding-top: 30px">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="background-color: white">
                    <br>
                    <p style="padding-left: 20px"><b>INFORMACIÓN DE LA EMPRESA</b></p><br>
                    <div class="info">
                        <div class="parraf">
                            <p><b>Nombre</b></p>
                            <p>Quipux S.A.S.</p>
                        </div>
                        <div class="parraf">
                            <p><b>Fecha de creación</b></p>
                            <p>1995/05/06</p>
                        </div>
                        <div class="parraf">
                            <p><b>Dirección</b></p>
                            <p>Carrera 43A No. 3 Sur-130</p>
                            <p>Ed. Milla de Oro</p>
                            <p>Distrito de negocios Torre 1</p>
                            <p>Piso 12</p>
                            <br>
                            <p>Medellín - Colombia</p>
                        </div>
                        <div class="parraf">
                            <p><b>Números de teléfonos</b></p>
                            <p>Fijo</p>
                            <p>+57 (604)313-70-00</p>
                            <p>Fax</p>
                            <p>+57 (604)313-44-77</p>
                        </div>
                        <div class="parraf">
                            <p><b>Sitio Web</b></p>
                            <p style="color: #00BBF9;">www.quipux.com/site</p>
                        </div>
                    </div>
                    
                </div>
    
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="background-color: white">
                    <br>
                    <p style="padding-left: 20px"><b>INFORMACIÓN DEL CONTACTO</b></p><br>
                    <div class="info2" >
                        <div class="parraf2">
                            <p><b>Dirección</b></p>
                            <p>{{ubicacionDir}}</p>
                            <p>{{ubicacionCity}}</p>
                        </div>
                        <div class="parraf2">
                            <p><b>Correo electrónico</b></p>
                            <p>{{correoElectronico}}</p>
                        </div>
                        <div class="parraf2">
                            <p><b>Sitio Web</b></p>
                            <p style="color: #00BBF9;">{{sitioWeb}}</p>
                        </div>
                        <div class="parraf2">
                            <p><b>Red Social</b></p>
                            <p style="color: #00BBF9;">{{redInst}}</p>
                            <p style="color: #00BBF9;">{{redLink}}</p>
                        </div>
                        <div class="parraf2">
                            <p><b>Dirección de correspondencia de correo</b></p>
                            <p>{{correspondenciaDir}}</p>
                            <p>{{correspondenciaCity}}</p>
                        </div>
                        <div class="parraf2">
                            <p><b>Números de teléfonos</b></p>
                            <p>Fijo</p>
                            <p>{{telefonoFijo}}</p><br><br>
                            <p>Celular</p>
                            <p>{{telefonoCel}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
    
</div>