.container-fluid{
    display: flex;
    width: 100%;
    background-color: #f8f9fa;
}

.header{
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    height: 70px;
}

.header ul{
    padding-top: 20px;
    list-style-type: none; //Quitar las viñetas
    overflow: hidden;
}

.header .breadcrumb-item{
    font-size: 20px;
    font-weight: 400;
    color: #6c757d;
}

.header .breadcrumb-item i{
    font-size: 30px;
    color: #6c757d;
}

//Dropdown: Usuario Apellido
.header #dropdownMenu2{
    background-color: white;
    color: #343a40;
    border: none;
}

.header #user{
    color: #6c757d;
    font-size: 50px;
}




.contenedor_nuevo{
    padding: 0;
    width: 10%;
    float: left;
    z-index: 1;
}

.contenedor1{
    margin-right: 2%;
    margin-left: 0px;
    width: 88%;
    float: right;
}

.info{
    text-align: center;
}
.parraf{
    padding-bottom: 40px;
    line-height: 80%;
}

.contenedor1 p{
    font-size: 1rem;
}

.short-div-div{
    height: 48%;
    margin-bottom: 2%;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
}

.short-div{
    height: 50%;
    overflow-y: scroll;
}

.vertical-scrollable>.row {
    padding-top: 20px;
    padding-bottom: 20px;
    height: auto;
}

.vertical-scrollable> .row> .col-sm-3{
    display: relative;
    float: none;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    filter: invert(100%);
}

.carousel-indicators {
    filter: invert(100%);
}

#carouselExampleIndicators{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

