<body>

    <div class="sidebar">
        <div class="logo_content">
            <i class='bx bx-menu' id="btn" (click)="btnOnClick()"></i>
            <div class="logo">
                <!--
                <i class='bx bx-menu'></i>
                -->
                <div class="logo_name"><img src="../../../assets/img/logo.png" height="30px"></div>                
            </div>        
        </div>
        <ul class="nav_list">
            <li>
                <a routerLink="/empresa">
                    <i class='bx bxs-box' style="font-size: 30px;"></i>
                    <span class="links_name">EMPRESAS</span>
                </a>
                <span class="tooltip">Empresas</span>
            </li>
            <li>
                <a routerLink="/articulo">
                    <i class='bx bx-notepad' style="font-size: 30px;"></i>
                    <span class="links_name">ARTICULOS</span>
                </a>
                <span class="tooltip">Artículos</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-user' style="font-size: 30px;"></i>
                    <span class="links_name">COLABORADORES</span>
                </a>
            </li>
        </ul>
    </div>

    <!--
    <div class="home_content">
        <div class="text">
            <i class='bx bx-home-alt' ></i>
        </div>
    </div>
    -->

</body>